

<!DOCTYPE html>
<html>
<head>
    <title>Enregistrement | WINTER'S NIGHT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<style type="text/css">
body{
   background-color: #fff;
   background-image: url(/images/fond.png);
   background-size: cover;
}
</style>
<body>
<h1 class="text-white m-3 text-center mt-5">Winter's Night</h1>
<div class="col-md-12 mt-5">
    <div class="mw-box border p-5 mw-box-mx-800">
        <div class="h5 font-weight-bold mb-3">Formulaire d'enregistrement</div>
        <div class="row">
            <form class="col-lg-12" action="http://<%= host %>:3000/record" method="POST" autocomplete="off">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <input type="text" name="matricule" class="form-control form-control-lg font-weight-light mt-4" placeholder="Matricule ESATIC">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <input type="text" name="nom" class="form-control form-control-lg font-weight-light mt-4" placeholder="Nom">              
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input type="text" name="prenoms" class="form-control form-control-lg font-weight-light mt-4" placeholder="Prénoms">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <input type="text" name="tel" class="form-control form-control-lg font-weight-light mt-4" placeholder="Téléphone">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <input type="email" name="email" class="form-control form-control-lg font-weight-light mt-4" placeholder="Adresse E-mail">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <select class="form-control form-control-lg font-weight-light mt-4" name="niveau">
                            <option>Sélectionner un niveau</option>
                            <option value="L1">LICENCE 1</option>
                            <option value="L2">LICENCE 2</option>
                            <option value="L3">LICENCE 3</option>
                            <option value="M1">MASTER 1</option>
                            <option value="M2">MASTER 2</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-ms-12">
                        <button type="submit" class="mt-4 btn btn-danger btn-lg mt-3 ff-login-btn font-weight-bold">Enregistrer</button>
                    </div>
                </div>
            </form> 
        </div>  
    </div>
</div>
<div class="container mt-5">
    <div class="col-md-12">
        <div class="d-flex flex-column justify-content-center align-items-center small font-weight-bold">
            <div class="text-white m-5">Winter's Night &middot 2019</div>
        </div>
    </div>    
</div>
</body>
</html>
